.reddit {
    background-color: #ff4500;
}

.hover:hover {
    background-color: rgba(56, 182, 7, 0.877);
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}